<button type="button" class="btn btn-outline-success" (click)="showModal=abrirModal()">Abrir Cadastro</button>

<table class="table table-success table-light">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">CNPJ</th>
      <th scope="col">Endereço</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let empresaSelecionada of empresas">
      <th>{{empresaSelecionada.id}}</th>
      <td>{{empresaSelecionada.nome}}</td>
      <td>{{empresaSelecionada.cnpj}}</td>
      <td>{{empresaSelecionada.endereco}}</td>
      <td>
        <button type="button" class="btn btn-outline-primary"
          (click)="showModal=abrirModalComEmpresaSelecionada(empresaSelecionada)">Editar</button>
        <button type="button" class="btn btn-outline-danger"
          (click)="showModalDelete=abrirModalConfirmacaoExclusao(empresaSelecionada.id)">Excluir</button>
        <button type="button" class="btn btn-outline-info"
          (click)="showModalExibirFuncionarios=abrirModalExibirFuncionarios(empresaSelecionada.id)">Exibir
          Funcionários</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal fade" tabindex="-1" role="dialog" [ngClass]="{'show':showModal}">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Cadastro de Empresa</h4>
      </div>

      <div class="modal-body">

        <form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Insira o nome">
            <div *ngIf="verificaValidTouched('nome')" class="alert alert-danger" role="alert">
              Nome é um campo obigatório e deve conter apenas letras, entre 3 e 50!
            </div>
          </div>

          <div class="form-group">
            <label for="cnpj">CNPJ</label>
            <input type="text" class="form-control" id="cnpj" formControlName="cnpj" placeholder="Insira o CNPJ">
            <div *ngIf="verificaValidTouched('cnpj')" class="alert alert-danger" role="alert">
              CNPJ é um campo obigatório!
            </div>
          </div>

          <div class="form-group">
            <label for="endereco">Endereço</label>
            <input type="text" class="form-control" id="endereco" formControlName="endereco"
              placeholder="Insira o endereço">
            <div *ngIf="verificaValidTouched('endereco')" class="alert alert-danger" role="alert">
              Endereço é um campo obigatório! E deve conter entre 3 e 100 caracteres!
            </div>
          </div>

          <button type="submit" class="btn btn-outline-success">Cadastrar</button>
          <button type="button" class="btn btn-outline-secondary" (click)="showModal=fecharModal()">Cancelar</button>

        </form>

      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" [ngClass]="{'show':showModalDelete}">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Deseja confirmar a exclusão?
        </h5>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-outline-success" (click)="showModalDelete=onDelete()">Sim</button>
        <button type="button" class="btn btn-outline-secondary" (click)="showModalDelete=fecharModal()">Não</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" [ngClass]="{'show':showModalExibirFuncionarios}">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Funcionários</h5>
      </div>

      <div class="modal-body">

        <table class="table table-success table-light">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nome</th>
              <th scope="col">CPF</th>
              <th scope="col">Data de Nascimento</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let funcionario of funcionariosSelecionados">
              <th>{{funcionario.id}}</th>
              <td>{{funcionario.nome}}</td>
              <td>{{funcionario.cpf}}</td>
              <td>{{funcionario.dataNascimento}}</td>
            </tr>
          </tbody>

        </table>
        <button type="button" class="btn btn-outline-secondary"
          (click)="showModalExibirFuncionarios=fecharModal()">Fechar</button>

      </div>

    </div>
  </div>
</div>
